body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

div {
    margin: 10px;
}

.card {
    height: auto;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    color: ;
    box-shadow: 2px 3px 5px lightgrey;
}

h3 {
    color: green;
}

input {
    border-radius: 3px;
    border: transparent;
    height: 20px;
    width: 40%;
    margin: 5px;
}

label {
    display: block;
}

button {
    padding: 5px;
    width: 80px;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: cadetblue;
    color: wheat;
}